/* css input voor boomopdracht*/


h1 {
    color: rgb(182, 182, 21);
    font-size: 30px;
    font-style: bold
}

p:first-child {
    color: red;
    font-style: italic;
    font-size: 20px;
}

p {
    color: gray;
    font-size: 15px;   
}