/* css input voor boomopdracht*/

body {
    color: gray;
    font-size: 15px;
    
}

h1 {
    color: olive;
    font-size: 30px;

}

p {
    color: red;
    font-style: italic;
    font-size: 20px;
}