/* GRID gedeelte */

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: prof1; }
.item4 { grid-area: prof2; }
.item5 { grid-area: prof3; }
.item6 { grid-area: prof4;}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header'
    'menu prof1 prof2'
    'menu prof3 prof4';
  grid-gap: 10px;
  background-color: rgb(160, 140, 26);
  padding: 10px;
}

.grid-container > div {
  background-color: rgb(118, 153, 147);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

img {
  border: 5px solid #ddd;
  border-radius: 1px;
  padding: 6px;
  width: 100px;
}

/*button*/
#man, #vrouw, #allen {
  background-color:#daa520;
  border: 5px solid whitesmoke;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-style: italic;
  margin: 4px 2px;
  cursor: pointer;
 /* position: relative;*/
  border-radius: 50%;
}
#man:hover, #vrouw:hover, #allen:hover {
  background-color: #555555;
  color: white;
}


